$progress-bar-color:#F7F7F7;
$progress-target-box-bg-color: #929292;
$progress-target-box-bg-success-color: #60ac58;
$progress-target-box-text-color: #fff;
$progress-text-color: #666666;

.progress {
  background: $progress-bar-color ;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  flex: 3;
  position: relative;

  &-current-value {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    width:40px;
    right: -20px;
    text-align: center;
    top: 17px;
  }

  &-bar {
    border-radius: 4px;
    height: 16px;
    position: relative;
    width: 0;
  }

  &-target {
    background: $progress-target-box-bg-color;
    border: 1px solid black;
    color: $progress-target-box-text-color;
    flex: 1;
    max-width: 100px;
    padding: 5px 5px;
    text-align: center;
    width: 50px;
    &.success{
      background: $progress-target-box-bg-success-color;
    }
  }

  &-caret {
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: -15px;
  }

  &-reached{
    color: $progress-text-color;
    font-weight: bold;
    margin-right:5px;
  }
  &-info {
    color: $progress-text-color;
    text-align: center;
  }

  &-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 470px;
    margin:0 auto;
    background: #fff;
  }

  &-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    width: 100%;
  }

}

.widget{
  &-progress{
    background: #ebebeb;
    border:1px solid black;
    height:100%;
    //padding:40px;
    border-radius:10px;
    &-title{
      margin: 0;
      background: #000;
      color: white;
      padding: 10px 5px;
      border-radius: 10px;

    }
  }
}
